python>=3.7,<3.9
cmake
cython
fftw
gdal
h5py
libgdal
libgomp
numpy
opencv
pybind11
requests
scipy
scikit-image
#for PyCuAmpcor with CUDA 10.1, use GNU=7.3.1
#gcc_linux-64=7.3
#gxx_linux-64=7.3
#gfortran_linux-64=7.3
#for mdx compile/install
libiconv
openmotif
openmotif-dev
xorg-libx11
xorg-libxau
xorg-libxdmcp
xorg-libxft
xorg-libxmu
xorg-libxrender
xorg-libxt

