python>=3.7
cmake
cython
fftw
gdal
h5py
libgdal
numpy
opencv
requests
scipy
scikit-image    # for autoRIFT
#for compilation [cross-platform names from conda-forge]
c-compiler
cxx-compiler
fortran-compiler
#for mdx compile/install
openmotif
openmotif-dev
xorg-libxdmcp
xorg-libxft
xorg-libxmu
xorg-libxt
