# vim: set filetype=sh:
echo "source ~/tools/conda_envs/insar/config.rc"

export TOOL_DIR=~/tools
export DATA_DIR=~/nobak

if [ -z ${PYTHONPATH+x} ]; then export PYTHONPATH=""; fi

##---------------------- ISCE2 ------------------------##
# ISCE_HOME is set by conda
echo "load ISCE-2.3.2 released at 18-Jul-2019 from "$ISCE_HOME
export PATH=${PATH}:${ISCE_HOME}/bin:${ISCE_HOME}/applications:${TOOL_DIR}/isce2/contrib/PyCuAmpcor/examples
export DEMDB=${DATA_DIR}/DEM

# isce2 core module with GPU support compiled by Lijun
alias load_isce_gpu='echo "load isce2 compiled with GPU support"; source /home/geomod/apps/rhel7/isce2.rc'

# stack processor: topsStack/stripmapStack, source ONE ONLY at a time to avoid naming
export STRIPMAP_STACK=${TOOL_DIR}/isce2/contrib/stack/stripmapStack
export TOPS_STACK=${TOOL_DIR}/isce2/contrib/stack/topsStack
export PYTHONPATH=${TOPS_STACK}/..:${PYTHONPATH}
alias load_stripmap_stack='export ISCE_STACK=${STRIPMAP_STACK}; export PATH=${PATH}:${ISCE_STACK}; echo "load ISCE-2 stack processor from "${ISCE_STACK}'
alias load_tops_stack='export ISCE_STACK=${TOPS_STACK}; export PATH=${PATH}:${ISCE_STACK}; echo "load ISCE-2 stack processor from "${ISCE_STACK}'

##---------------------- MintPy & PyAPS ---------------##
export MINTPY_HOME=${TOOL_DIR}/MintPy
export PYAPS_HOME=${TOOL_DIR}/PyAPS
export PYTHONPATH=${PYTHONPATH}:${MINTPY_HOME}:${PYAPS_HOME}
export PATH=${PATH}:${MINTPY_HOME}/mintpy
export WEATHER_DIR=${DATA_DIR}/atmosphere

##---------------------- ARIA-tools -------------------##
export ARIATOOLS_HOME=${TOOL_DIR}/ARIA-tools
export PYTHONPATH=${PYTHONPATH}:${ARIATOOLS_HOME}/tools
export PATH=${PATH}:${ARIATOOLS_HOME}/tools/bin

##---------------------- unwrap_error -----------------##
export UNW_ERR_HOME=${TOOL_DIR}/unwrap_error
export PYTHONPATH=${PYTHONPATH}:${UNW_ERR_HOME}

export PATH=${PATH}:${TOOL_DIR}/giant2

##for GIANT2
export PYTHONPATH=${PYTHONPATH}:/home/zyunjun/tools/fourdvel

