# vim: set filetype=sh:
echo "source ~/tools/conda_envs/insar/config.rc"

# root directory
export TOOL_DIR=~/tools
export DATA_DIR=~/data   # data / nobak

if [ -z ${PYTHONPATH+x} ]; then export PYTHONPATH=""; fi

##-------------- MintPy / PyAPS / PySolid -------------##
export MINTPY_HOME=${TOOL_DIR}/MintPy
export PYTHONPATH=${PYTHONPATH}:${MINTPY_HOME}:${TOOL_DIR}/PyAPS:${TOOL_DIR}/PySolid
export PATH=${PATH}:${MINTPY_HOME}/mintpy
export WEATHER_DIR=${DATA_DIR}/aux

##-------------- ARIA-tools ---------------------------##
export ARIATOOLS_HOME=${TOOL_DIR}/ARIA-tools/tools
export PYTHONPATH=${PYTHONPATH}:${ARIATOOLS_HOME}
export PATH=${PATH}:${ARIATOOLS_HOME}/bin

##-------------- SSARA --------------------------------##
export PATH=${PATH}:${TOOL_DIR}/utils/SSARA

##-------------- ISCE2 --------------------------------##
use_isce_conda=1  # 0 for source (on kamb), 1 for conda (on laptop)

if [ $use_isce_conda -eq 1 ]; then
    # >>> conda >>>
    # ISCE_HOME/STACK are set by conda
    export PATH=${PATH}:${ISCE_HOME}/bin:${ISCE_HOME}/applications
    echo "load ISCE-2 core modules installed by conda at "$ISCE_HOME

else
    # >>> build from source >>>
    # load required modules for compiling ISCE-2
    module load cuda/10.1
    module load /home/geomod/apps/rhel7/modules/gcc/7.3.1
    #module load /home/geomod/apps/rhel7/modules/python3/anaconda

    export ISCE_ROOT=~/tools/isce2
    export ISCE_HOME=${ISCE_ROOT}/install/packages/isce

    export PATH=${PATH}:${ISCE_ROOT}/install/bin
    export LD_LIBRARY=${LD_LIBRARY}:${ISCE_ROOT}/install/lib
    export PYTHONPATH=${PYTHONPATH}:${ISCE_ROOT}/install/packages

    echo "load ISCE-2 core modules installed from source at "$ISCE_HOME

    # load isce2 core module with GPU support installed by Lijun
    #alias load_isce_gpu='echo "load ISCE-2 compiled with GPU support"; source /home/geomod/apps/rhel7/isce2.rc'
fi

# common settings
export DEMDB=${DATA_DIR}/aux/DEM
export PATH=${PATH}:${TOOL_DIR}/isce2/src/isce2/contrib/PyCuAmpcor/examples     #for cuDenseOffsets
export ISCE_STACK=${TOOL_DIR}/isce2/src/isce2/contrib/stack                     #set ISCE_STACK to the dev version
export PYTHONPATH=${PYTHONPATH}:${ISCE_STACK}                                   #import tops/stripmapStack as python modules

# source ONLY ONE AT A TIME to avoid naming conflicts
alias load_stripmap_stack='export PATH=${PATH}:${ISCE_STACK}/stripmapStack; echo "load ISCE-2 stripmapStack from "${ISCE_STACK}/stripmapStack'
alias load_tops_stack='export PATH=${PATH}:${ISCE_STACK}/topsStack; echo "load ISCE-2 topsStack from "${ISCE_STACK}/topsStack'


##---------------------- Miscellaneous ----------------##
export VRT_SHARED_SOURCE=0
export HDF5_DISABLE_VERSION_CHECK=2    # 0 for abort; 1 for printout warning message; 2 for supress the warning message
export HDF5_USE_FILE_LOCKING=FALSE
export OMP_NUM_THREADS=4

