python<=3.9       #isce2 does not work on python 3.10 yet
astropy
geopandas
imagemagick
joblib
seaborn
scikit-learn
wget
# notebooks
jupyterlab
jupyter_nbextensions_configurator
nbdime            #for readable nb differences
ipympl            #for interactive matplotlib
# mintpy extra
rich              #for rich terminal output
setuptools        #for PyPI distribution
wheel             #for PyPI distribution
twine             #for PyPI distribution
pv                #for tar progress bar during decompression
# compilers
cxx-compiler      #for scalene installation on Linux
fortran-compiler  #for pysolid installation in development mode
# unwrap_error
pyfftw

