astropy
geopandas
joblib
seaborn
scikit-learn
# notebooks
jupyterlab
jupyter_nbextensions_configurator
nbdime
# mintpy extra
rich              #for rich terminal output
setuptools        #for PyPI distribution
wheel             #for PyPI distribution
twine             #for PyPI distribution
pv                #for tar progress bar during decompression
# compilers
cxx-compiler      #for scalene installation on Linux
fortran-compiler  #for pysolid installation in development mode
# unwrap_error
pyfftw

