# vim: set filetype=sh:
# NOTE: adjust use_isce_conda according to the machine: laptop/kamb
echo "source ~/tools/conda_envs/opera/config.rc"

# root directory
export TOOL_DIR=~/tools
export DATA_DIR=~/data   # data / nobak

if [ -z ${PYTHONPATH+x} ]; then export PYTHONPATH=""; fi


##-------------- COMPASS ------------------------------##
export COMPASS_HOME=${TOOL_DIR}/COMPASS
export PYTHONPATH=${PYTHONPATH}:${COMPASS_HOME}/src
export PATH=${PATH}:${COMPASS_HOME}/bin

##-------------- s1-reader ----------------------------##
export S1_READER_HOME=${TOOL_DIR}/s1-reader
export PYTHONPATH=${PYTHONPATH}:${S1_READER_HOME}/src
export PATH=${PATH}:${S1_READER_HOME}/bin

##-------------- sentinel1-burst-id -------------------##
export S1_BURST_ID_HOME=${TOOL_DIR}/sentinel1-burst-id
export PYTHONPATH=${PYTHONPATH}:${S1_BURST_ID_HOME}/src
export PATH=${PATH}:${S1_BURST_ID_HOME}/bin

##-------------- ISCE3 --------------------------------##
if [ -z ${ISCE_INSTALL_METHOD+x} ]; then export ISCE_INSTALL_METHOD="conda"; fi
if [ $ISCE_INSTALL_METHOD == 'conda' ]; then
    echo "load ISCE-3 installed via conda-forge channel"
else
    # colorful ctest for gtest
    export GTEST_COLOR=1
    # load CUDA and compilers module on kamb
    module load cuda/11.2
    export CUDACXX=/usr/local/cuda-11.2/bin/nvcc
    export CUDAHOSTCXX=${CXX}
    # isce
    export ISCE_HOME=${TOOL_DIR}/isce3/install
    export PATH=${PATH}:${ISCE_HOME}/bin:${ISCE_HOME}/packages/nisar/workflows
    export PYTHONPATH=${PYTHONPATH}:${ISCE_HOME}/packages
    export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${ISCE_HOME}/lib64
    echo "load ISCE-3 installed from source at "$ISCE_HOME
fi

##-------------- MintPy -------------------------------##
export MINTPY_HOME=~/tools/MintPy
export PATH=${PATH}:${MINTPY_HOME}/mintpy
export PYTHONPATH=${PYTHONPATH}:${MINTPY_HOME}


##-------------- SSARA --------------------------------##
export PATH=${PATH}:${TOOL_DIR}/utils/SSARA


##---------------------- Miscellaneous ----------------##
export VRT_SHARED_SOURCE=0
export HDF5_DISABLE_VERSION_CHECK=2    # 0 for abort; 1 for printout warning message; 2 for supress the warning message
export HDF5_USE_FILE_LOCKING=FALSE
export OMP_NUM_THREADS=4
