# vim: set filetype=sh:
# NOTE: adjust use_isce_conda according to the machine: laptop/kamb
echo "source ~/tools/conda-envs/opera/config.rc"

# root directory
export TOOL_DIR=~/tools
export DATA_DIR=~/data   # data / nobak

if [ -z ${PYTHONPATH+x} ]; then export PYTHONPATH=""; fi


##-------------- ISCE3 --------------------------------##
if [ -z ${ISCE_INSTALL_METHOD+x} ]; then export ISCE_INSTALL_METHOD="conda"; fi
if [ $ISCE_INSTALL_METHOD == 'conda' ]; then
    echo "load ISCE-3 installed via conda-forge channel"
else
    # colorful ctest for gtest
    export GTEST_COLOR=1
    # load CUDA and compilers module on kamb
    module load cuda/11.2
    export CUDACXX=/usr/local/cuda-11.2/bin/nvcc
    export CUDAHOSTCXX=${CXX}
    # isce
    export ISCE_HOME=${TOOL_DIR}/isce3/install
    export PATH=${PATH}:${ISCE_HOME}/bin:${ISCE_HOME}/packages/nisar/workflows
    export PYTHONPATH=${PYTHONPATH}:${ISCE_HOME}/packages
    export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${ISCE_HOME}/lib64
    echo "load ISCE-3 installed from source at "$ISCE_HOME
fi

##-------------- SSARA --------------------------------##
export PATH=${PATH}:${TOOL_DIR}/utils/SSARA


##---------------------- Miscellaneous ----------------##
export VRT_SHARED_SOURCE=0
export HDF5_DISABLE_VERSION_CHECK=2    # 0 for abort; 1 for printout warning message; 2 for supress the warning message
export HDF5_USE_FILE_LOCKING=FALSE
export OMP_NUM_THREADS=4
