geopandas
s1etad
# compass and s1reader
python>=3.9
numpy
gdal>=3
ruamel.yaml
shapely
yamale
# isce3
backoff
# notebooks
jupyterlab
jupyter_nbextensions_configurator
nbdime            #for readable nb differences
ipympl            #for interactive matplotlib
