python>=3.7
numpy
scipy
scikit-image
cython
cmake<=3.17
hdf5
h5py
gdal
libgdal
fftw
opencv
openmotif
openmotif-dev
requests
xorg-libxt
xorg-libxft
xorg-libxmu
xorg-libxdmcp
gcc_linux-64
gxx_linux-64
gfortran_linux-64
